<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <title>Customer Information</title>
</head>
<body>
    <div class="col-md-12 text-center">
    <h1>Customer Information</h1>
    <p>To view customer information, please click the button</p>

   <button type="button" class="btn centered btn-primary btn-lg"><a href ="/customers/list" style="color:white">Customer</a> </button>
   </div>
</body>
</html>

